/* Our CSS file. */

*{
    margin: 0px;
    padding: 0px;
}

.container {
width: 100%;
height: 100%;


}

#cont1{
    display: flex;
    width: 100%;
    height: 375px;
    
}


.inside{
    display: inline-block;
    width: 50%;
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
}



